<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title></title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
		<script src="https://unpkg.com/vue" defer></script>
		<script src="https://unpkg.com/vue-material" defer></script>
		<script src="bdffont.js" defer></script>
		<script src="bdf-all-glyphs.js" defer></script>

		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<style>
			td {
				height: 200px;
				width: 80px;
				padding: 10px;
			}

			canvas {
				max-width: 100%;
				max-height: 100%;
				outline: 2px solid #999;
			}

			.none {
				color: #999;
				text-align: center;
				line-height: 200px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<input type="file" ref="file" v-on:change="fileChanged" style="display: none">
			<md-button class="md-primary md-raised" @click="$refs.file.click()">Load font</md-button>

			{{ font.FONT }}
			{{ font.CHARS }} characters
			{{ font.SIZE.size }}pt {{ font.SIZE.xres }}dpi x {{ font.SIZE.yres }}dpi
			<div ref="glyphs">
				<table>
					<tr>
						<th></th>
						<th>0</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
					</tr>
					<tr v-for="row in rows">
						<th>{{ row }}</th>
						<td v-for="col in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
							<div v-if="hasGlyph(row + col)" :title="row + col">
								<bdf-glyph :font="font" :glyph="row + col"></bdf-glyph>
							</div>
							<div v-else class="none">
								{{ row + col }}
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
